html, body {
  width: 100%;
  height: 100%;
}

body{
  margin: 0 auto;
  background: linear-gradient(45deg, #02001f, #1f1b4e);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

.wrap {
  display:table;
  height:100%;
  width: 100%;
  z-index: 1;
}

.wrap > div {
  display:table-cell;
  height:90%;
}

.content {
  width: 50%;
  height: 90%;
  background-color: #fff;
}

.sidebar{
  width: 200px;
  height: 90%;
}

header{
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  background: #fff;
  color: #02001f;
  z-index: 2;
  border-bottom: #02001f 2px solid;
}

header table{
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
  z-index: 2;
  position: absolute;
  display:table;
  width: 100%;
  display: flex;
}

.left{
  width: 50%;
  height: 100%;
  top: 0;
  color: #02001f;
}

.left h2, .right h2 {
  margin-left: 15px;
}

.left-content, .right-content{
  padding: 15px;
}

.left-content label, .right-content label{
  font-size: 1.2em;
  font-weight: bolder;
}

.right{
  width: 50%;
  top: 0;
  color: #fff;
}

#snomed-dropdown01,
#snomed-dropdown02,
#snomed-dropdown03,
#snomed-dropdown04{
  position: absolute;
  padding: 5px;
  list-style: none;
  font-size: 0.9em;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 300px;
  max-width: 600px;
  z-index: 4;
}

#snomed-dropdown01 li,
#snomed-dropdown02 li,
#snomed-dropdown03 li
/*#snomed-dropdown04 li*/{
  position: relative;
  padding: 3px;
  color: #fff;
  background-color: #02001f;
  border-bottom: #1f1b4e 1px solid;
  display: block;
  padding: 5px;
}

#snomed-dropdown04 li{
  position: relative;
  padding: 3px;
  color: #02001f;
  background-color: #fff;
  border-bottom: #1f1b4e 1px solid;
  display: block;
  padding: 5px;
}

#snomed-dropdown01 li a,
#snomed-dropdown02 li a,
#snomed-dropdown03 li a
/*#snomed-dropdown04 li a*/{
  color: #fff;
  text-decoration: none
}

#snomed-dropdown04 li a{
  color: #02001f;
  text-decoration: none
}

#snomed-dropdown01 li:hover,
#snomed-dropdown02 li:hover,
#snomed-dropdown03 li:hover
/*#snomed-dropdown04 li:hover*/{
  margin-left: 14px;
  display: block;
  background: #fff; 
}

#snomed-dropdown04 li:hover{
  margin-left: 14px;
  display: block;
  background: #02001f; 
}

#snomed-dropdown01 li:hover a,
#snomed-dropdown02 li:hover a,
#snomed-dropdown03 li:hover a
/*#snomed-dropdown04 li:hover a*/{
  color: #02001f;
}

#snomed-dropdown04 li:hover a{
  color: #fff;
}

#snomed-dropdown01 li:first-child,
#snomed-dropdown02 li:first-child,
#snomed-dropdown03 li:first-child
/*#snomed-dropdown04 li:first-child*/{
  padding: 8px;
    color: #fff;
    pointer-events: none;
    width: auto; 
    margin-bottom: 8px;
    border: none;
    font-weight: bolder;
}

#snomed-dropdown04 li:first-child{
  padding: 8px;
    color: #000;
    pointer-events: none;
    width: auto; 
    margin-bottom: 8px;
    border: none;
    font-weight: bolder;
}

#snomed-dropdown01 li:first-child:hover,
#snomed-dropdown02 li:first-child:hover,
#snomed-dropdown03 li:first-child:hover
/*#snomed-dropdown04 li:first-child:hover*/{
    padding: 4px;
    color: #000;
    background-color: RGB(197, 197, 197);
    pointer-events: none;
}

.hidden{
  display: none;
}

textarea {
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
  /*border: 2px solid #ccc;*/
  border-radius: 4px;
  /*background-color: #f8f8f8;*/
  background-color: #fff;
  font-size: 0.9em;
  resize: none;
  width: 100%;
}

.selectedIndications, .selectedProcedure, .selectedFindings, .selectedAnaesthetic{
  font-size: 0.9em;
  background: none;
}

.chosen01, .chosen02, .chosen03 /*.chosen04*/{
  background: #1f1b4e;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-left: 10px;
}

.chosen04{
  background: #fff;
  color: #1f1b4e;
  padding: 5px;
  border-radius: 4px;
  margin-left: 10px;
}

.chosen01:first-child, .chosen02:first-child, .chosen03:first-child, .chosen04:first-child{
  margin-left: 0;
}

.minus, .minus2, .minus3, .minus4{
  margin: 0 0 0 5px;
  position: relative;
  z-index: 1;
  color: #808080;
  border: none;
}

.minus::after, .minus2::after, .minus3::after, .minus4::after{
  content: "\2717";
  font-size: 1.6em;
  line-height: 1.6em;
}

.minus:hover, .minus2:hover, .minus3:hover{
    color: #fff;
    cursor: pointer;
}

.minus4:hover{
  color: #1f1b4e;
  cursor: pointer;
}

.plusIndications, .plusFindings{
  margin: 0 0 0 5px;
  position: relative;
  z-index: 1;
  color: #808080;
  border: none;
}

.plusIndications::after, .plusFindings::after{
  content: "\271A";
  font-size: 1.6em;
  line-height: 1.6em;
}

.plusIndications:hover, .plusFindings:hover{
  color: #1f1b4e;
  cursor: pointer;
}

/* .slider */
.slider {
  width: 80px;
  height: 22px;
  background: #02001f;
  margin: 0 0;
  position: relative;
  border-radius: 50px;
  z-index: 1;
}

.slider:after {
  content: 'NO';
  color: #fff;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/24px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slider:before {
  content: 'YES';
  /*color: #27ae60;*/
  color: #66ff00;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/24px Arial, sans-serif;
  font-weight: bold;
}

.slider label {
  display: block;
  width: 34px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.slider input[type=checkbox] {
  visibility: hidden;
}
.slider input[type=checkbox]:checked + label {
  left: 43px;
}
/* end slider */

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

footer span{
  position: fixed;
  bottom: -10px;
  color: #1f1b4e;
  font-size: 2.4em;
}

footer #border{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100vw;
  background: #1f1b4e;
}

