*{
  margin: 0;
  padding: 0;
}

html,body{
    height:100%;
    margin:0;
    padding:10px;
    z-index: 1;
}

body{
    background: #fff;
}

option:empty{
    display: none;
}

#snomed-dropdown li, #snomed-dropdown02 li, #snomed-dropdown03 li{
    color: #fff;
}

option:empty{
    display: none;
}

.hide{
    display: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.inner-wrap:first-child{
    background: #fff;
}

.inner-wrap2:first-child{
    background: #fff;
}

.inner-wrap{
    height: 100%;
    padding: 15px;
}

#myTextLabel, #myTextLabel2, #myTextLabel3, #myTextLabel4, #parentLabel, #childLabel, #findingSiteLabel, #morphologyLabel, #synonymsLabel{
    color: #2C3E72;
}

#helper{
    display: none;
}

input, select{
    opacity: .8 !important;
    padding: 4px;
}

input:focus, select:focus{
    opacity: 1 !important;
}

::-webkit-input-placeholder {
    color: #2C3E72;
}

#myText, #myText2, #myText3{
    width: 90%;
}

#snomed-dropdown, #snomed-dropdown02, #snomed-dropdown03{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    list-style: none;
    display: inline-block;
    width: 95%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 900;
    top: -10px;
    background: #fff;
}

#advancedItems{
    list-style: none;
}

#synonym-snomed-dropdown{
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  background: #fff;
  list-style: none;
  display: inline-block;
  width: 90%;
  max-height: 150px;
  z-index: 100;
  /*color:rgb(175, 177, 190);*/
  color: #2C3E72;
}

.separator:last-child, .separator:nth-last-child(2){
  visibility: hidden;
}

.separator:last-child:after{
  content: '.';
  visibility: visible;
}

.separator:nth-last-child(2):after{
  content: '& ';
  visibility: visible;
}

#parents-snomed-dropdown,
#child-snomed-dropdown,
#findingSite-snomed-dropdown,
#morphology-snomed-dropdown{
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  background: #fff;
  list-style: none;
  display: inline-block;
  width: 90%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 999;
  color: #2C3E72;
}

#snomed-dropdown li,
#snomed-dropdown02 li,
#snomed-dropdown03 li,
#parents-snomed-dropdown li,
#child-snomed-dropdown li,
#findingSite-snomed-dropdown li,
#morphology-snomed-dropdown li{
    padding: 3px;
    border-bottom: RGB(230, 230, 230) solid 1px;
    color: #fff;
}

#snomed-dropdown li:hover,
#snomed-dropdown02 li:hover,
#snomed-dropdown03 li:hover,
#parents-snomed-dropdown li:hover,
#child-snomed-dropdown li:hover,
#findingSite-snomed-dropdown li:hover,
#morphology-snomed-dropdown li:hover{
    padding: 3px;
    color: #ffffff;
    background: #2C3E72;
}

#snomed-dropdown li .name,
#snomed-dropdown02 li .name,
#snomed-dropdown03 li .name,
#parents-snomed-dropdown li .name,
#child-snomed-dropdown li .name,
#findingSite-snomed-dropdown li .name,
#morphology-snomed-dropdown li .name{
    color: #2C3E72;
    padding: 4px;
    display: inline-block;
}

#snomed-dropdown li:hover .name,
#snomed-dropdown02 li:hover .name,
#snomed-dropdown03 li:hover .name,
#parents-snomed-dropdown li:hover .name,
#child-snomed-dropdown li:hover .name,
#findingSite-snomed-dropdown li:hover .name,
#morphology-snomed-dropdown li:hover .name,
#snomed-dropdown li:hover .more,
#parents-snomed-dropdown li:hover .more,
#child-snomed-dropdown li:hover .more,
#findingSite-snomed-dropdown li:hover .more,
#morphology-snomed-dropdown li:hover .more{
    color: #ffffff;
    text-decoration: none;
}

#snomed-dropdown li:first-child,
#snomed-dropdown02 li:first-child,
#snomed-dropdown03 li:first-child,
#parents-snomed-dropdown li:first-child,
#child-snomed-dropdown li:first-child,
#findingSite-snomed-dropdown li:first-child,
#morphology-snomed-dropdown li:first-child{
    padding: 8px;
    color: #2C3E72;
    pointer-events: none;
    width: auto; 
    margin-bottom: 8px;
    border: none;
    font-weight: bolder;
    margin-left: 10px;
}

#snomed-dropdown li:first-child:hover,
#snomed-dropdown02 li:first-child:hover,
#snomed-dropdown03 li:first-child:hover,
#parents-snomed-dropdown li:first-child:hover
#child-snomed-dropdown li:first-child:hover,
#findingSite-snomed-dropdown li:first-child:hover,
#morphology-snomed-dropdown li:first-child:hover{
    padding: 4px;
    color: #000;
    background-color: RGB(197, 197, 197);
    pointer-events: none;
}


.more{
    margin-top: 4px;
    float: right;
    margin-right: 50px;
    border: none;
    background: none;
    color: #818181;
    /*display: none*/;
}

.more:hover{
    color: #fff;
    cursor: pointer;
}

#trigger{
    position: absolute;
    bottom: 10px;
    color: lightgray;
}

/* Sliding Menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidenav table{
    margin : 0 auto;
}

.sidenav table select{
  opacity: .6 !important;
  padding: 4px;
}

.sidenav table input:disabled, .sidenav table select:disabled{
    background: red;
    color: #fff;
}

.sidenav table, .sidenav table th, .sidenav table td{
    border: 1px solid black;
    padding: 4px;
}

.sidenav table th{
    background: lightgray;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

h2{
    color: lightgray;
    margin-bottom: 20px;
}


